  <!-- Add Car Modal -->
  <ion-header>
    <ion-toolbar>
      <ion-title>Add Car</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="closeModal()">Close</ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <form (ngSubmit)="submitAddCarForm()" class="add-car-form">
      <ion-item>
        <ion-label>Brand: </ion-label>
        <ion-input [(ngModel)]="newCar.make" name="make" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Model: </ion-label>
        <ion-input [(ngModel)]="newCar.model" name="model" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>URL: </ion-label>
        <ion-input [(ngModel)]="newCar.url" name="url" required></ion-input>
      </ion-item>
      <ion-footer>
        <ion-button expand="block" type="submit">Add Car</ion-button>
      </ion-footer>
    </form>
  </ion-content>
