ion-img::part(image) {
  height: 100px !important;
  margin: 0;
}

ion-content {
  --background: url(/assets/bak.jpg) no-repeat center center / cover;
}

/* Desktop */
@media (min-width: 1280px) {
  ion-content {
    max-width: 100%;
  }

  .ion-flex {
    align-items: center;
  }
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo-container ion-img {
  width: 100%;
  max-width: 100%;
}
.custom-toast {
  text-align: center;
  font-size: large;
  color: white;
  background-color: rgba(0, 0, 0, 0.8); /* fundo escuro semi-transparente */
}
