ion-content {
  --background: #636363ad;
}

.button {
  font-weight: bold;
  color: white;
}

#Results ion-col {
  display: flex;
  align-items: center;
  height: 2rem;
  text-align: center;
  color: black;
  border: 2px solid black;
}

.custom-toast {
  text-align: center;
  font-size: x-large;
  color: black;
}