#cars ion-row:nth-child(even) {
  background-color: lightgray;
  color: black;
}

#cars ion-row:nth-child(odd) {
  background-color: gray;
  color: black;
}

ion-row {
  border: 2px solid black;
}

#Search ion-col {
  display: flex;
  border-right: 2px solid black;
}

#Search ion-col:last-child {
  border-right: none;
}
