<!-- Add User Modal -->
<ion-header>
  <ion-toolbar>
    <ion-title>Add User</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="submitAddUserForm()">
    <ion-item>
      <ion-label position="stacked">Name</ion-label>
      <ion-input [(ngModel)]="newUser.name" name="Name" required> </ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Email</ion-label>
      <ion-input [(ngModel)]="newUser.email" name="Email" type="email" required> </ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Password</ion-label>
      <ion-input [(ngModel)]="newUser.password" name="Password" type="password" required> </ion-input>
    </ion-item>
    <ion-footer>
      <ion-button expand="block" type="submit">Add User</ion-button>
    </ion-footer>
  </form>
</ion-content>
