<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title
      class="ion-text-center"
      style="height: 4rem; font-size: xx-large"
    >
      StandVirtual - Scraper
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid style="margin-left: 2em; margin-right: 2em">
    <ion-row style="margin-top: 2em">
      <ion-col size="12" style="text-align: right; border: none">
        <ion-button class="botao" (click)="add()">Add</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid id="Search" style="margin-left: 2em; margin-right: 2em">
    <ion-row style="background-color: gray; align-items: center">
      <ion-col size="1"> </ion-col>
      <ion-col size="1" style="font-weight: bold">Brand</ion-col>
      <ion-col size="1" style="font-weight: bold">Model</ion-col>
      <ion-col size="7" style="font-weight: bold">Link StandVirtual</ion-col>
      <ion-col size="1"></ion-col>
      <ion-col size="1"></ion-col>
    </ion-row>

    <ion-row
      *ngFor="let row of rows; let i = index"
      style="background-color: lightgray; align-items: center"
    > <!-- [(ngModel)]="row.selected" (change)="toggleSelected(row)" -->
      <ion-col size="1">
        <input type="checkbox" [(ngModel)]="row.selected" (click)="toggleSelected(row)"/>
      </ion-col>
      <ion-col size="1">
        <ng-container *ngIf="editingIndex === i; else displayBrand">
          <ion-input type="text" [(ngModel)]="row.brand" />
        </ng-container>
        <ng-template #displayBrand> {{ row.brand }} </ng-template></ion-col
      >
      <ion-col size="1">
        <ng-container *ngIf="editingIndex === i; else displayModel">
          <ion-input type="text" [(ngModel)]="row.model" />
        </ng-container>
        <ng-template #displayModel> {{ row.model }} </ng-template>
      </ion-col>
      <ion-col size="7">
        <ng-container *ngIf="editingIndex === i; else displayLink">
          <ion-input type="text" [(ngModel)]="row.link" />
        </ng-container>
        <ng-template #displayLink> {{ row.link }} </ng-template>
      </ion-col>
      <ion-col size="1">
        <span
          style="font-weight: bold; color: black; cursor: pointer"
          (click)="edit(i)"
        >
          {{ editingIndex === i ? 'Save' : 'Edit' }}
        </span>
      </ion-col>
      <ion-col size="1">
        <span
          style="font-weight: bold; color: red; cursor: pointer"
          (click)="delete(i)"
          >Delete</span
        >
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid id="Filters">
    <ion-row style="margin-top: 2em">
      <ion-col size="1">
        <ion-input
          type="number"
          placeholder="From(Year)"
          class="input-field"
        ></ion-input>
      </ion-col>
      <ion-col size="1">
        <ion-input
          type="number"
          placeholder="To(Year)"
          class="input-field"
        ></ion-input>
      </ion-col>
      <ion-col size="1">
        <ion-input
          type="number"
          placeholder="From(Price)"
          class="input-field"
        ></ion-input>
      </ion-col>
      <ion-col size="1">
        <ion-input
          type="number"
          placeholder="To(Price)"
          class="input-field"
        ></ion-input>
      </ion-col>
      <ion-col size="1">
        <ion-input
          type="number"
          placeholder="Km(Up to)"
          class="input-field"
        ></ion-input>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid style="margin-left: 2em; margin-right: 2em">
    <ion-row style="margin-top: 2em">
      <ion-col size="10" style="text-align: center">
        <ion-button class="botao">Scrap</ion-button>
      </ion-col>
      <ion-col size="2" style="text-align: center">
        <ion-button class="botao">Export</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid id="Results" style="margin-left: 2em; margin-right: 2em">
    <ion-row style="background-color: gray; margin-top: 1em">
      <ion-col size="1" style="font-weight: bold">Brand</ion-col>
      <ion-col size="1" style="font-weight: bold">Model</ion-col>
      <ion-col size="1" style="font-weight: bold">Year</ion-col>
      <ion-col size="1" style="font-weight: bold">Km</ion-col>
      <ion-col size="1" style="font-weight: bold">Price</ion-col>
      <ion-col size="7" style="font-weight: bold">Link StandVirtual</ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
