.botao {
  align-items: right;
  position: relative;
  font-weight: bold;
  color: white;
}

#Pesquisa ion-col,
#Resultados ion-col {
  text-align: center;
  color: black;
  border: 2px solid #ccc;
}

#Filtros {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#Filtros ion-col {
  margin: auto;
  text-align: center;
  color: white;
}

.input-field {
  text-align: center;
  width: 10rem;
  padding: 0.5em;
  border: 2px solid #ccc;
  box-sizing: border-box;
  background-color: grey;
  color: black;
  ::placeholder {
    color: blue;
  }
}

.input-field::placeholder {
  color: black;
}
